@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";

.DashBoardInput {
  margin-bottom: 30px;
  .DashBoardInputTime {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .DashBoardInputColor{
    margin-bottom: 10px;
  }
}
